/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF MEYERS RESET (MEYERS RESET IS USED SO THAT THE PAGE WILL LOOK THE SAME
  NO MATTER THE WEB BROWSER THAT THE USER USES) */

body{
  background-color: rgb(104, 177, 135);
}

ul{
  list-style-type: none;
  margin-top: 6rem;
  padding: 0;
  overflow: hidden;
  background-color: #03910a;
}

li{
  float: left;
} 

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover{
  background-color: rgb(9, 102, 9);
}

div.gallery{
  margin: 10px;
  padding:15px;
  float: left;
  width: 13rem;
}
div.gallery img {
  height: 10rem;
  width: 15rem;
}

div.desc {
  padding: 15px;
  text-align: center;
}