.explore {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-filter input,
.search-filter select {
    color: black;
    background-color: rgb(223, 217, 217);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-filter input {
    width: 70%;
}

.search-filter select {
    width: 25%;
}

.category-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.category-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-buttons button:hover {
    background-color: #0056b3;
}

section {
    margin-top: 20px;
}

h2 {
    margin-bottom: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.all-cards tr {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.all-cards tr td {
    padding: 13px;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
}

@media (max-width: 768px) {
    .search-filter {
        flex-direction: column;
    }

    .search-filter input,
    .search-filter select {
        width: 100%;
        margin-bottom: 10px;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}
