
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  background-color: rgb(255, 255, 255);
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.kumbh-sans-400 {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: regular;
  font-variation-settings:
    "YOPQ" 300;
}
.rowdies-bold {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body{
  background-color: rgb(255, 255, 255);
}

ul{
  list-style-type: none;
  margin-top: 6rem;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

li{
  float: left;
} 

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover{
  background-color: rgb(255, 255, 255);
}


.marquee-container {
  display: flex;
  height: 6dvh;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  border-bottom: 4px solid black;
  margin: 20px 5%; 
  margin-top: 0;
}

.marquee-text {
  white-space: nowrap;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  font-weight: bold;
  animation: marquee 80s linear infinite;
  animation-delay: 0s;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

@keyframes marquee {
  0%   { text-indent: 0em }
  100% { text-indent: -150em }
}

.home-video-container{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 50dvh;
  padding-top: 20px;

  margin: 30px 5%; 
  padding-bottom: 0;
  margin-bottom: 0;
}
.home-video-container>.left{
  display: flex;
  flex-direction: column;
  font-size: 6.8rem;
}
.home-video-container > .right .slick-slide img {
	width: 100%;
	height: 460px; 
	object-fit: cover; 
	border-radius: 2px;
}
.musiki{
  font-family: 'Rowdies', sans-serif;
  margin-top: 5px;
  font-weight: 700;
  font-style: normal;
  font-size: 8rem;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {color: #ff0000;}
  25% {color: #ff00ff;}
  50% {color: #0000ff;}
  75% {color: #0b6d10;}
  100% {color: #a39300;}
}

div.gallery{
  margin: 18px;
  padding:15px;
  float: left;
  width: 13rem;
}
div.gallery img {
  height: 100px;
  width: 150px;
}

div.desc {
  padding: 10px;
  text-align: center;
}

@media (max-width: 768px) {
	.home-video-container {
		grid-template-columns: 1fr;
	}

	.home-video-container > .left {
		margin-bottom: 1rem;
	}
}
